#! /bin/sh
. /etc/profile
. /usr/lib/network-topology.sh

die() {
	echo "$@"
	exit 1
}

setup() {
	modprobe igb || die "modprobe igb"
	modprobe igbvf || die "modprobe igbvf"
	modprobe vfio-pci || die "modprobe vfio-pci"
	modprobe vhost-net || die "modprobe vhost-net"
	modprobe tap || die "modprobe tap"

	echo 1 > /sys/module/vfio_pci/parameters/enable_sriov

	for i in eth2 eth3 eth4; do
		ip link set up dev $i
	done
}

vf_operator() {
        log=/var/log/vf-operator.log
        nohup vf-operator > $log 2>&1 &
}

setup
vf_operator
